*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit; color: inherit;}
p, h1, h2, h3, h4, h5, h6, li {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}
input, button {background: none; border: none;}
.recent-commands::-webkit-scrollbar {display: none;}
.recent-commands, #command-palette {-ms-overflow-style: none; scrollbar-width: none;}
*:not([contenteditable]):focus, *:not([contenteditable]):focus-visible {border: none; outline: none;}

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    --body-background-color: hsl(225, 15%, 95%);
    --card-background-color: hsl(225, 15%, 100%);
    --border-color:          hsl(225, 15%, 90%);
    --accent-color:          hsl(225, 15%, 50%);
    --text-color:            hsl(225, 15%, 10%);
    --placeholder-color:     hsl(225, 15%, 50%);
    scrollbar-color: var(--accent-color) var(--body-background-color);
    --indent: 1rem;
    --fontSize: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        font-family: Inter, sans-serif;
        font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
        --body-background-color: hsl(225, 15%, 5%);
        --card-background-color: hsl(225, 15%, 10%);
        --border-color:          hsl(225, 15%, 15%);
        --accent-color:          hsl(225, 15%, 50%);
        --text-color:            hsl(225, 15%, 100%);
        --placeholder-color:     hsl(225, 15%, 50%);
        scrollbar-color: var(--accent-color) var(--body-background-color);
        --indent: 1rem;
        --fontSize: 1rem;
    }
}

@supports (font-variation-settings: normal) {
:root { font-family: InterVariable, sans-serif; }
}


body {
    padding: 4rem 0.5rem; 
    background-color: var(--body-background-color);
    color: var(--text-color);
    height: 100%;
}

#note-container > * {
    padding: 0.25em;
    height: fit-content;
}
*:not(.active) > .md-block {
    display: none;
}

.md-block {
    display: inline-block;
    color: var(--accent-color);
    background-color: var(--card-background-color);
    padding: 0em 0.25em;
    border-radius: 0.25em;
}

blockquote {
    padding-left: 1.5rem;
    border-left: 1px solid var(--accent-color);
    background-color: var(--card-background-color);
}