*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6, li {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}


@font-face {
    font-family: "Geist Mono";
    src: url(fonts/GeistMonoVF.woff);
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    max-width: 60ch;
    padding: 4rem 1rem; 
    margin: auto;
}

textarea {
    width: min(100%, 60ch);
    resize: none;
    height: fit-content;
    background: none;
    padding: 0;
    border: none;
    transition: all 0.2s;
}

textarea::placeholder {
    font-style: italic;
    color: gainsboro;
}

textarea:focus-visible, input, input:focus-visible {
    border: none;
    outline: none;
}

#note {
    background-color: white;
    text-wrap: balance;

    *:not(li, label, input, ul:last-child, ol:last-child, form:last-child) {
        transition: all 0.2s;
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: 0.5rem;
    }
}

.noteinput-container {
    position: relative;

    div {
        position: absolute;
        top: 0;
        z-index: -1;
        color: gainsboro;
    }
}


.ul, .ol, .checklist {
    padding-left: 2.5rem  !important ;
    position: relative;
    transition: all 0.2s;

    &::before {
        position: absolute;
        color: black;
    }
}

.h1 {
    font-size: 3rem;
    font-weight: 700;
    transition: all 0.2s;
}

.h2 {
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.2s;
}

.h3 {
    font-size: 1.75rem;
    font-weight: 700;
    transition: all 0.2s;
}

.ul::before {
    content: '•';
    left: 1rem;
}


.ol::before {
    content: attr(data-ol-count) ".";
    text-align: right;
    font-variant-numeric: tabular-nums;
    width: 3rem;
    left: -0.9rem;
}

.checklist::before {
    content: '';
    width: 1rem;
    height: 1rem;
    border: 2px solid gainsboro;
    border-radius: 0.25rem;
    left: 0.5rem;
    top: 0.75rem;
}

label {
    display: block;
    input {
        margin-right: 1.5rem;
        transform: translateX(0.5rem);
        height: 1rem;
        width: 1rem;
        border: 2px solid gainsboro;
        border-radius: 0.25rem;
    }
}










div#command {
    --animation: transform 0.75s cubic-bezier(0.77,0,0.18,1);;
    position: relative;
    margin-bottom: 4rem;
    transform-style: preserve-3d;

    input {
    padding: 0.5rem 1rem;
    position: absolute;
    background-color: white;
    width: 100%;
    transform: rotateX(0deg);
    transform-origin: top center;
    transition: var(--animation);
    }

    .autocomplete {
        font-family: "Geist Mono";
        transform: rotateX(0deg);
        transform-origin: top center;
        transition: var(--animation);
    }

    .open {
        transform: rotateX(90deg);
        transition: var(--animation);

        
    }

    .open1 {
        transform: rotateX(-90deg);
        transition: var(--animation);

        
    }
}