*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit; color: inherit;}
p, h1, h2, h3, h4, h5, h6, li {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}
input, button {background: none; border: none;}
.recent-commands::-webkit-scrollbar {display: none;}
.recent-commands, #command-palette {-ms-overflow-style: none; scrollbar-width: none;}
*:not([contenteditable]):focus, *:not([contenteditable]):focus-visible {border: none; outline: none;}

:root {
        --body-background-color: hsl(225, 15%, 95%);
        --card-background-color: hsl(225, 15%, 100%);
        --border-color:          hsl(225, 15%, 90%);
        --accent-color:          hsl(225, 15%, 50%);
        --text-color:            hsl(225, 15%, 10%);
        scrollbar-color: var(--accent-color) var(--body-background-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: hsl(225, 15%, 5%);
        --card-background-color: hsl(225, 15%, 10%);
        --border-color:          hsl(225, 15%, 15%);
        --accent-color:          hsl(225, 15%, 50%);
        --text-color:            hsl(225, 15%, 100%);
    }
}

body {
    font-family: "Inter", sans-serif;
    padding: 4rem 0.5rem; 
    background-color: var(--body-background-color);
    color: var(--text-color);
    height: 100%;
    overflow-x: hidden;
}

*::placeholder {color: var(--accent-color);}
svg path {fill: var(--accent-color);}

#note-container {
    text-wrap: stable;
    width: min(100% - 1rem, 60ch);
    margin: auto;
    margin-bottom: 100vh;
    > * {margin: 0.5rem 0;}
}

[contenteditable] {
    width: 100%;
    outline: none;
    transition: all 0.2s ease-in-out;
}
[data-target="true"] {
    anchor-name: --note-container;
}


/* Add this to your CSS file */
.note-container-dimmed * {
    color: var(--border-color) !important;
    transition: all 0.2s ease-in-out;

    p[data-target="true"]:empty:after {
        content: attr(data-placeholder) " or press '/' to add a new component" !important;
        vertical-align: text-bottom !important;
        color: var(--accent-color) !important;
        display: inline-flex !important;
        font-style: italic !important;
    }

    [data-target="true"]:empty::after {
        content: attr(data-placeholder) !important;
        vertical-align: text-bottom !important;
        color: var(--accent-color) !important;
        display: inline-flex !important;
        font-style: italic !important;
    }



    input[type="checkbox"] {
        outline: 2px solid var(--border-color) !important;
    }

    svg path {
        fill: var(--border-color) !important;
    }
}

p[data-target="true"]:empty::after {
    content: attr(data-placeholder) " or press '/' to add a new component" !important;
    vertical-align: text-bottom !important;
    color: var(--accent-color) !important;
    display: inline-flex !important;
    font-style: italic !important;
}


.note-container-dimmed [data-target="true"] {
    color: var(--text-color) !important;
}


#note-container > *:has(:focus-within) {
    outline: none;
    transition: all 0.2s ease-in-out;
}
#note-container  *[contenteditable]:empty:not(p)::after {
    content: attr(data-placeholder);
    color: var(--accent-color);
    display: inline;
    font-style: italic;
}

/* Add this to your CSS file */
.note-container-dimmed * {
    color: var(--border-color) !important;
    transition: all 0.2s ease-in-out;
}

.note-container-dimmed [data-target="true"] {
    color: var(--text-color) !important;
}

.dimed {
    color: var(--accent-color) !important;
    transition: color 0.2s ease-in-out;
}



#note-container p[contenteditable]:empty:focus:after {
    content: attr(data-placeholder) " or press '/' to add a new component";
    vertical-align: text-bottom;
    color: var(--accent-color);
    display: inline-flex;
    font-style: italic;
}

#note-container p[contenteditable]:focus:empty::after svg {
    transform: scale(4);
}

#command-container {
    transition-behavior: allow-discrete;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    opacity: 0;
    transform: translateY(2rem);
}

#command-container:popover-open {
    padding: 0px;
    opacity: 1;
    margin: 0;
    inset: auto;
    top: anchor(bottom);
    transform: translateY(1rem);
    left: anchor(left);
    transition-behavior: allow-discrete;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;

    position-anchor: --note-container;

    width: min(100% - 2rem, 60ch); 
    background-color: var(--card-background-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    position: sticky;

    @starting-style {
        opacity: 0;
        transform: translateY(1.5rem);

    }
}

#command-search {
    position: relative;
    min-height: 3rem;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;

    svg {
        height: 1.25rem;
        width: 1.25rem;
    }

    button {
        cursor: pointer;
        padding: 0;
    }

    input {
        background: none;
        width: 100%;
        color: var(--text-color);
    }
}

#command-palette {
    border-radius: 0 0 0.5rem 0.5rem;
    overflow-y: scroll;
    max-height: 400px;

    ul {
        list-style: none;
        padding: 0px;
    }

    h4 {
        margin-bottom: 0.75rem;
        color: var(--accent-color);
        font: 500 1rem/1.2 "Inter", sans-serif;
        padding-left: 0.5rem;
    }

    .command-section {
        padding: 1rem 0.5rem;
    }
    
    .command-section:not(:first-of-type) {
        border-top: 1px solid var(--border-color);
    }
}

.command-item button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
    h5 {font: 500 1rem/1.2 "Inter", sans-serif; color: var(--text-color); text-transform: capitalize;}
}

.command-item:focus-within,
.command-item:hover,
.command-item.select {
    background: var(--border-color);
    border-radius: 0.25rem;
}

#command-palette:has(.command-item:not(.select):focus-within, 
.command-item:not(.select):hover) .command-item.select {
    background: none;
}

code.code-sample {
    position: relative;
    background-color: var(--card-background-color);
}



@media screen and (max-width: 600px) {
    #command-container:popover-open {
        position: fixed;
        transition: height 0.2s ease-in-out;
        width: calc(100% - 1rem);
        margin: 0;
        inset: 0.5rem;
        top: unset;
        height: 500px;
        overflow: hidden;
    }

    #command-palette {
        max-height: 100%;
        padding-bottom: 2.5rem;
    }
}







 form[data-name="checklist"] {
     
    div {
        position: relative;
        display: flex;
        gap: 0.75rem;
        align-items: top;
        margin-top: 0.25rem;
    }

    svg {
        position: absolute;
        left: 0.25rem;
        opacity: 0;
        transform: rotate(-30deg) scale(0.75);
        pointer-events: none;
        transition: all 0.2s ease-in-out;
    }

    div:has(input[type="checkbox"]:checked) svg {
        opacity: 1;
        transform: rotate(0deg) scale(1);
        transition: all 0.2s ease-in-out;
    }

    input[type="checkbox"] {
        appearance: none; /* Remove default styles */
        margin-top: 0.25rem;
        margin-left: 0.5rem;
        min-width: 1rem;
        max-height: 1rem;
        background-color: var(--body-background-color);
        outline: 2px solid var(--accent-color);
        border-radius: 4px;
        cursor: pointer;
    }
 }

 .selected {
    background-color: #395cc622;
    outline: #395cc655 solid 1px;
    transition: all 0.2s ease-in-out;
    border-radius: 0.25rem;
 }


ol, ul {
    counter-reset: ordered-list 0;
    padding-inline-start: 2rem;
    list-style: none;

    li {
        margin-bottom: 0.25rem;
        counter-increment: ordered-list 1;
    }
}


ol li::before {
    font-variant-numeric: tabular-nums;
    content: counter(ordered-list, decimal-leading-zero)".";
    color: var(--accent-color);
    position: absolute;
    transform: translateX(-2rem);
    font-weight: 600;
}

ul li::before {
    content: '->';
    color: var(--accent-color);
    position: absolute;
    font-weight: 900;
    transform: translateX(-1.5rem);
}



h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 800;
    letter-spacing: -0.025em;
}

h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}