*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6, li {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}
input, button {background: none; border: none;}

*:focus, *:focus-visible {border: none; outline: none !important; }
:root {
    --white: hsl(0, 0%, 100%);
    --verylightgray: hsl(225, 15%, 95%);
    --lightgray: hsl(225, 15%, 70%);
    --dark: hsl(225, 15%, 15%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --dark: hsl(0, 0%, 100%);
        --verylightgray: hsl(225, 15%, 20%);
        --lightgray: hsl(225, 15%, 65%);
        --white: hsl(225, 15%, 15%);
    }
}

body {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 1rem;
    max-width: 675px;
    padding: 4rem 0.5rem; 
    margin: auto;
    background-color: var(--white);
    color: var(--dark);
}

 

#note-container {
    text-wrap: balance;

    * {
        min-height: 16px;
    }

    *:not(li, label, input, ul:last-child, ol:last-child, form:last-child) {
        transition: all 0.2s;
        margin-bottom: 1rem;
    }

    li {
        margin-bottom: 0.5rem;
    }
}



#note-container  *:empty:not(p)::after,
#note-container  p:focus:empty::after {
    content: attr(data-placeholder);
    display: inline;
    color: var(--lightgray);
}

#note-container p:empty::after {
    content: '';
}





label {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    z-index: 2;
    input {
        position: absolute;
        top: 50%;
        left: 0;
        width: fit-content;
        transform: translateY(-50%);
        z-index: 1;
    }
}





*::placeholder {
    color: var(--lightgray);
}



















svg path {
    fill: var(--lightgray);
}







.command-container {
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.1s ease;
    position: absolute;
    margin: auto;
    width: 100%;
    max-width: 675px;
    pointer-events: none;
    box-shadow: var(--verylightgray) 0px 48px 100px 0px;
    background: none;
}

.command-container:popover-open {
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.77,0,0.18,1);;
    pointer-events: all;
    border: none;
    border-radius: 0.5rem;
}



#command-search {
    position: relative;
    background-color: var(--white);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    height: 3rem;
    border-bottom: 1px solid var(--verylightgray);


    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
    }

    input {
        padding: 0.5rem 3.5rem;
        border-radius: 0.5rem;
        background: none;
        width: 100%;
        height: 100%;
    }

    input:focus {
        outline: none;
    }
}



#command-palette {
    border-radius: 0 0 0.5rem 0.5rem;
    max-height: 400px;
    overflow-y: scroll;
    background-color: var(--white);

    ul {
        list-style: none;
        padding: 0px;
    }

    h4 {
        margin-bottom: 1rem;
        color: var(--lightgray);
        font-size:  700 1.125rem/1 Inter;
    }

    .command-section {
        padding: 1.5rem;
    }


    .recent-commands {
        width: 100%;
        display: flex;
        overflow-x: scroll;
        gap: 1rem;

        li {
            width: 100%;

            button {
                width: 190px;
                text-align: left;
                border-radius: 0.5rem;
                border: 1px solid var(--verylightgray);
                padding: 0.5rem;
                cursor: pointer;

                span {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 1.125rem;
                    color: var(--lightgray);
                }

                h2 {
                    margin-top: 1rem;
                    line-height: 125%;
                    font-size: 2rem;
                }
            }

            button:hover,
            button:focus {
                outline: none;
                background-color: var(--verylightgray);
                border: 1px solid var(--verylightgray);
                transition: all 0.2s;
            }
        }
    }
}




.command-section:not(:first-of-type) {
    border-top: 1px solid var(--verylightgray);
}

.command-item button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    text-align: left;
    width: 100%;
    
    .command-item-text {
        h5 {font: 400 1rem/1.2 "Radio Canada Big", sans-serif; color: var(--dark);}
        p {font: 400 0.875rem/1.2 "Radio Canada Big", sans-serif;; color: var(--lightgray);}
    }

    img {height: 3rem;}
}


.command-item:focus,
.command-item.selected {
    outline: 1px solid var(--lightgray) !important;
    background: hsl(0, 0%, 98%);
    border-radius: 0.5rem;

    * {outline: none;}
}

.command-item:focus-within,
.command-item:focus,
.command-item:hover {
    outline: none;
}


.recent-commands::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .recent-commands,
  #command-palette {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

